assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
index-test.php
index.php
requirements
framework/
demos/
protected/config/*
!protected/config/*.conf
nbproject/
*.DS_Store*
