/* 
    Document   : myriad_pro
    Created on : 20-jul-2012, 2:02:40
    Author     : juliobarreraa@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

@font-face {
    font-family: "Myriad Pro";
    src: url(../font/MyriadPro-Bold.otf) format("opentype");
    src: url('../font/MyriadPro-Bold.eot') format('embedded-opentype'), url('../font/MyriadPro-Bold.ttf') format('truetype'), url('../font/MyriadPro-Bold.svg') format('svg');
}
